*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root  {
    --black: rgba(0, 0, 0, 1);
    --Rich-Black: rgba(10, 17, 31, 1);
    --oxford-blue: rgba(20, 33, 61, 1);
    --coyote-brown: rgba(136, 98, 39, 1);
    --orange-web: rgba(252, 163, 17, 1);
    --Gold-crayola: rgba(241, 196, 123, 1);
    --cultured: rgba(242, 242, 242, 1);
    --platinum: rgba(229, 229, 229, 1);
    --withe: rgba(255, 255, 255, 1);
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* ===========================================BODY============================================================================================= */
body{
    background-color: var(--oxford-blue);
}
/* ===========================================HEADER======================================================================= */
header{
    padding: 0px 10px;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: var(--Rich-Black)
}

main h1{
    color: var(--orange-web);
    margin: 10px auto 10px 20px;
    text-align: center;
    font-size: 2.5rem;

}
main h3{
    color: var(--cultured);
    margin: 10px 15px 10px 20px;
    font-size: 1.7rem;
    text-align: center;
}


.logo-header--img{
    height:32px; 
    width: auto;
    margin-left: 10px;
    
}

.header-portafolio-container{
    list-style: none;
    display: flex;
    justify-self: right;
}


.enlace-portafolio{
    color: var(--platinum);
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    text-align: right;
}

/* ===========================================MAIN========================================================================= */
main{
    width: 100%;
    min-width: 320px;
    background-color: var(--oxford-blue);
}

main section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;
    
}
.portafolio-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 280px;
    max-width: 420px;
    margin: 10px;
    border: 2px solid rgba(10, 17, 31, .8);
    background-color: rgba(10, 17, 31, .8);
    border-radius: 5px;
}

.portafolio-container p{
    color: var(--withe);
    text-align: justify;
    font-size: 1.2rem;
    margin: 0 10px 3px 10px;
}

.portafolio-card{
    display: flex;
    flex-wrap: wrap;
    min-width: 280px;
    width: 100%;
    color: var(--platinum);
    text-decoration: none;
}

.portafolio-card h2{
    font-size: 1.8rem;
    margin: 10px 10px 0px 10px;
}

.portafolio-card figure img {
    min-width: 260px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}



/* ===========================================FOOTER======================================================================= */

footer{
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--Rich-Black);
}

.footer-left{
    min-width: 320px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;

}

.footer-left h3{
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
    color: var(--platinum);
}

.footer-right{
    min-width: 320px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;

}

.footer-right a{
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 10px 20px;
}

.facebook{
    background-image: url(../assets/icon/facebook.png);
}

.instagram{
    background-image: url(../assets/icon/instagram.png);
}

.twitter{
    background-image: url(../assets/icon/twitter.png);
}

.github{
    background-image: url(../assets/icon/github.png);
}
/* ===========================================media 800px========================================================================= */
@media screen and (min-width: 1024px){

    html {
        font-size: 78%;
    }

    .logo-header--img{
        margin: 0 40px;
    }
    .enlace-portafolio{
        margin-right: 50px;
    }

    main h1{
        text-align: justify;
        margin-left: 80px;
    }

    main h3{
        margin-left: 80px;
        text-align: justify;
    }
    .portafolio-container p{
        font-size: 1rem;
    }
    .portafolio-card h2{
        font-size: 1.6rem;
    }
    .portafolio-card figure img {
        min-width: 260px;
        width: 100%;
        height: 160px;
    }

} /* Final  del media 1024px*/